# Deploy Ceph Cluster

- name: ROOK - Define RBAC and Create the ceph cluster
  k8s:
    kubeconfig: "{{ kubeconfig_file_path | default(omit) }}"
    state: present
    definition: "{{ item }}"
  register: ret
  until: |
    not ret.get('failed', false)
    or ret.get('status', 200) != 200
  retries: "{{ k8s_task_retries | default(3) }}"
  delay: "{{ k8s_task_delay | default(15) }}"
  loop: "{{ lookup('template', 'cluster.yaml.j2') | from_yaml_all | list }}"
  loop_control:
    label: "{{ item | to_nice_yaml }}"
  tags: deploy_cluster

- name: ROOK - Deploy Ceph toolbox
  k8s:
    kubeconfig: "{{ kubeconfig_file_path | default(omit) }}"
    state: present
    definition: "{{ lookup('template', 'toolbox.yaml.j2') | from_yaml }}"
    force: yes
  register: ret
  until: |
    not ret.get('failed', false)
    or ret.get('status', 200) != 200
  retries: "{{ k8s_task_retries | default(3) }}"
  delay: "{{ k8s_task_delay | default(15) }}"
  tags: deploy_cluster

- name: ROOK - Verify the cluster deploy is complete
  k8s:
    kubeconfig: "{{ kubeconfig_file_path | default(omit) }}"
    api_version: ceph.rook.io/v1
    kind: CephCluster
    name: rook-ceph
    namespace: "{{ rook_cluster_namespace }}"
  register: cluster_data
  until: |
    cluster_data.get('status', 200) != 200
    or cluster_data.get('result', {}).get('status', {}).get('state') == "Created"
  retries: "{{ k8s_task_retries | default(3) }}"
  delay: "{{ k8s_task_delay | default(15) }}"
  ignore_errors: yes
  tags: deploy_cluster
