---
# tasks file for ansible-rook

# This tasks files is responsible for deploying the rook operator
# It also includes tasks for initializing other configured components

- name: ROOK Bootstrap - Install pip if necessary
  when: ansible_python.version.major == 2
  package:
    name: python-pip
    state: present

- name: ROOK Bootstrap - Install pip if necessary
  when: ansible_python.version.major == 3
  package:
    name: python3-pip
    state: present

# Bootstrap a node with openshift dependency if required
- name: ROOK Bootstrap - Install openshift python library
  pip:
    name: openshift>=0.7.2
  when: rook_bootstrap

# Instantiate the operator on the cluster
- include_tasks: operator.yaml
  tags: deploy_operator

# Create a ceph cluster
# This manifest is only capable of deploying a single cluster at the moment
- import_tasks: cluster.yaml
  tags: deploy_cluster

# Create all the define block pools
- import_tasks: block_pool.yaml
  tags: storage_creation
  when: ceph_block_storage_pools is defined

# Create a Kubernetes Storage Class
- import_tasks: storage_class.yaml
  tags: storage_creation
  when: rook_storage_classes is defined

# Create Ceph filesystems
- import_tasks: filesystem.yaml
  tags: storage_creation
  when: ceph_filesystems is defined

# TODO: Install other rook components as required
