---
# tasks file for ansible-rook

# This tasks files is responsible for deploying the rook operator
# It also includes tasks for initializing other configured components

- name: ROOK Bootstrap - Install pip if necessary
  when: ansible_python.version.major == 2
  package:
    name: python-pip
    state: present
  tags: prereq

- name: ROOK Bootstrap - Install pip if necessary
  when: ansible_python.version.major == 3
  package:
    name: python3-pip
    state: present
  tags: prereq

# Bootstrap a node with openshift dependency if required
- name: ROOK Bootstrap - Install openshift python library
  pip:
    name: openshift>=0.7.2
  when: rook_bootstrap
  tags: prereq

# Create the common resources necessary to start the operator and the ceph cluster
- include_tasks: common.yaml
  tags: deploy_common

# Instantiate the operator on the cluster
- include_tasks: operator.yaml
  tags: deploy_operator

# Create a ceph cluster
# This manifest is only capable of deploying a single cluster at the moment
- import_tasks: cluster.yaml
  tags: deploy_cluster

# Create all the define block pools
- import_tasks: block_pool.yaml
  tags: storage_creation
  when: ceph_block_storage_pools is defined and ceph_block_storage_pools is iterable

# Create a Kubernetes Storage Class
- import_tasks: storage-class.yaml
  tags: storage_creation
  when: rook_storage_classes is defined and rook_storage_classes is iterable

# Create Ceph filesystems
- import_tasks: filesystem.yaml
  tags: storage_creation
  when: ceph_file_systems is defined and ceph_file_systems is iterable

# Optionally mount filesystem on host
#- import_tasks: mount-on-host.yaml
#  tags: storage_mount
#  when: rook_mount_on_host is defined and rook_mount_on_host is iterable

# TODO: Install other rook components as required
