apiVersion: extensions/v1
kind: DaemonSet
metadata:
  name: rook-ceph-mount-{{ item.name }}
  namespace: {{ rook_operator_namespace }}
  labels:
    app: rook-ceph-mount
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rook-ceph-mount-{{ item.name }}
  template:
    metadata:
      labels:
        app: rook-ceph-mount-{{ item.name }}
    spec:
      containers:
      - name: rook-ceph-mount
        image: busybox
        securityContext:
          privileged: true
        command: ['sh', '-v', '-c', 'mount && printf "\n\nZzZzZzzzzzzz...\n" || exit 1; while true; do sleep 5; done']
        volumeMounts:
        - mountPath: "/mnt/ceph-to-host"
          name: ceph-to-host
          mountPropagation: Bidirectional
        - mountPath: "/mnt/ceph-to-host/mounted"
          name: ceph-from-flex
      volumes:
      - name: ceph-to-host
        hostPath:
          path: "{{ item.host_mount_path | default('/mnt') }}/rook-ceph_{{ item.name }}"
      - name: ceph-from-flex
        ## TODO: use CSI instead of flex!!!
        flexVolume:
          driver: ceph.rook.io/rook
          fsType: ceph
          options:
            fsName: {{ item.name }}
            clusterNamespace: {{ rook_cluster_namespace }}
            path: '/'
