apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ item.name }}
  namespace: {{ rook_operator_namespace }}
  labels:
    app: rook-ceph-mount
spec:
  accessModes: {{ item.accessModes | default(['ReadOnlyMany']) }}
  storageClassName: {{ item.storageClassName }}
  resources:
    requests:
      storage: 1Gi
